<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Jobs page</title>
</head>

<body class="m-2">
    <div class="row col-12">
        Job Title:- {{document.business_title}}
    </div>
    <div class="row col-12">
        Job description:- {{document.job_description}}
    </div>
    <div class="row">
        <div class=" col-3">
            work_location:- {{document.work_location}}
        </div>
        <div class=" col-3">
            work_location:- {{document.work_location}}
        </div>
        <div class=" col-3">
            Service Title::- {{document.civil_service_title}}
        </div>
    </div>

    <div class="row col-12">
        Minimum Requirements:- {{document.minimum_qual_requirements}}
    </div>

    
     <div class="row col-12">
         Additional Information:- {{document.additional_information}}
    </div>
</body>

</html>